<!DOCTYPE html>
<html>
<head>
	<title>To Do</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>htmlDatePicker Test Page (CFML)</title>
  <script language="JavaScript" type="text/javascript"></script>
</head>
<body>
<div class="container-fluid"></div>
<!--navbar--> 
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >To Do</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="file:///home/uday/Desktop/102/todo-1.html">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="file:///home/uday/Desktop/102/todo-1.html#alltask">All Task</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="file:///home/uday/Desktop/102/todo-1.html#form1">Add Task</a></li>
            <li><a href="#">Edit Task</a></li>
            <li><a href="#">Delete Task</a></li>
            <li class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">About</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <form class="navbar-form navbar-right">

       <div class="form-group">
        <input class="form-control" id="mail" type="text" placeholder="Email"></input>
        <input class="form-control" id="pass" type="text" placeholder="Password"></input>
      </div>
      <div class="form-group"></div>
      <button class="btn btn-success" onclick="auth()" type="submit">Sign In</button>

      </form>
    </div>
  </div>
  
</nav>
<!-- navbar end -->
<!--clock-->
<div id="time">
<div class="row"></div>
<div class="col-md-9"></div>
<div class="col-md-1"><iframe src="http://free.timeanddate.com/clock/i4qz1sfl/n176" frameborder="0" width="82" height="18"></iframe>
</iframe>
</div>
<div class="col-md-2"><iframe src="http://free.timeanddate.com/clock/i4qz1uoc/n176/tt1/tw0" frameborder="0" width="129" height="18"></iframe>
</div></div>
<br><br>
<div id="welcome box">
<div class="alert alert-info fade in" style="text-align:centre">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong><p id="well">Welcome!</p></strong></div>

<div class="row"></div>
<div class="col-md-2">
	 <div class="sidebar">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group">
        <span href="#" class="list-group-item active">
            <strong>Submenu</strong>
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>
        <a href="#" class="list-group-item">
            <i class="fa fa-comment-o"></i> View all
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-search"></i> History
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-folder-open-o"></i> Upcoming <span class="badge">4</span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-bar-chart-o"></i> Total <span class="badge">14</span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-envelope"></i> Trash
        </a>
    </div>        
</div>
</div>
<div class="col-md-10">
	<div id="alltask">
	<h3><legend>All Task</legend></h3>
  <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="panel panel-primary">
<div class="panel-heading">Tasks</div>
  <H2>My Tasks</H2>
{% for each in tasks %}
<li> {{ each.text }} </li>
{% endfor %}

<div class="row"></div></div>
    <legend>Add Task</legend>
    
    <form action="/" method="post" >{% csrf_token %}
<input name="task" type="text">
<button type="submit"> Add Task</button>
</form>
<br>
<br>
<br>
<div class="col-md-4"></div>
<!--form ends-->

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="../../dist/js/bootstrap.min.js"></script>

<!--

 Just to make our placeholder images work. Don't a…

-->

<script src="../../assets/js/vendor/holder.min.js"></script>

<!--

 IE10 viewport hack for Surface/desktop Windows 8 …

-->

<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
function auth() {
    var x,txt;

    // Get the value of the input field with id="numb"
    x = document.getElementById("pass").text;

    // If x is Not a Number or less than one or greater than 10
    if (x="12345") {
        txt = "Access Granted!";
    } 
    else {
        txt = "Invalid!";
    }
    document.getElementById("well").innerHTML = txt;
}
</script>
<script>
window.alert("Bonjour!");
</script>

</body>
</html>